<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="container">
        <h2>Todo List</h2>
        <div class="todo-input">
            <input type="text" id="taskInput" placeholder="Yeni Görev">
            <button id="addTaskBtn">Yeni görev ekle</button>
        </div>

        <!-- <h2>Görevler</h2> -->
        <div class="filters">
            <button class="filter-btn" data-filter="all">Tümü</button>
            <button class="filter-btn" data-filter="done">Tamamlanan</button>
            <button class="filter-btn" data-filter="todo">Yapılacak</button>
        </div>

        <ul id="taskList">
            <% tasks.forEach(task=> { %>
                <li data-id="<%= task.id %>" class="task-item">
                    <input type="checkbox" class="completeTask" id="task_<%= task.id %>" name="task_<%= task.id %>"<%= task.completed ? 'checked' : '' %>>
                    <span class="<%= task.completed ? 'completed' : '' %>"><%= task.text %></span>
                    <div class = "task-eddel">
                        <button class="editTask"><i class="fa-solid fa-pencil"></i></button>
                        <button class="deleteTask"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </li>
                <% }) %>
        </ul>

        <div class="actions">
            <button id="clearAll">Tümünü sil</button>
        </div>
    </div>

    <script src="/js/todo.js"></script>
</body>

</html>